* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}

body {
    background-color: #f8f8f8;
    color: #29292e;
}

body, input, button, textarea {
    font: 400 16px 'Roboto', sans-serif;
}